<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<welcome-file-list>
		<welcome-file>2.jsp</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>3.html</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>demo1</servlet-name>
		<servlet-class>com.rupeng.test1.Demo1Servlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>multiSerlvet</servlet-name>
		<servlet-class>com.rupeng.test1.Demo2Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>demo1</servlet-name>
		<url-pattern>/haha1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>demo1</servlet-name>
		<url-pattern>/haha2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>multiSerlvet</servlet-name>
		<url-pattern>/multi</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>loginServlet</servlet-name>
		<servlet-class>com.rupeng.test1.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>loginServlet</servlet-name>
		<url-pattern>/login</url-pattern>		
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>CalcServlet</servlet-name>
		<servlet-class>com.rupeng.test1.CalcServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CalcServlet</servlet-name>
		<url-pattern>/calc</url-pattern>		
	</servlet-mapping>
	<servlet>
		<servlet-name>Encode1Servlet</servlet-name>
		<servlet-class>com.rupeng.test1.Encode1Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Encode1Servlet</servlet-name>
		<url-pattern>/encode1</url-pattern>		
	</servlet-mapping>

	<servlet>
		<servlet-name>addPersonServlet</servlet-name>
		<servlet-class>com.rupeng.test1.AddPersonServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addPersonServlet</servlet-name>
		<url-pattern>/addPerson</url-pattern>		
	</servlet-mapping>

	<servlet>
		<servlet-name>ShowPersonsServlet</servlet-name>
		<servlet-class>com.rupeng.test1.ShowPersonsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowPersonsServlet</servlet-name>
		<url-pattern>/showPersons</url-pattern>		
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowPersonsServlet</servlet-name>
		<url-pattern>/persons.html</url-pattern>		
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Test2Servlet</servlet-name>
		<servlet-class>com.rupeng.test1.Test2Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Test2Servlet</servlet-name>
		<url-pattern>/aa/test2</url-pattern>		
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Img1Servlet</servlet-name>
		<servlet-class>com.rupeng.test1.Img1Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Img1Servlet</servlet-name>
		<url-pattern>/img1</url-pattern>		
	</servlet-mapping>
	
	<servlet>
		<servlet-name>YZM1Servlet</servlet-name>
		<servlet-class>com.rupeng.test1.YZM1Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>YZM1Servlet</servlet-name>
		<url-pattern>/yzm1</url-pattern>		
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Person2Servlet</servlet-name>
		<servlet-class>com.rupeng.test1.Person2Servlet</servlet-class>
		<init-param>
			<param-name>xing</param-name>
			<param-value>chen</param-value>
		</init-param>
		<init-param>
			<param-name>ming</param-name>
			<param-value>can</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>Person2Servlet</servlet-name>
		<url-pattern>/persons2</url-pattern>		
	</servlet-mapping>
</web-app>
